/* Common Css Start  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: #fff;
   color:#000;
   font-size: 16px;
}
.text-style {
    color:#3F5B51;
    font-weight: bold;
}
.section-title {
    text-align: center;
    margin-bottom:50px;
}
.section-title h2 {
    font-size: 42px;
    color: #013A6D;
}
.text-highlight {
    color:#F57C00;
}

/* Banner css  */
.banner-area {
    background: #FCC700;
}
.banner-left-content h1 {
    font-weight: normal;
}
button.banner-btn {
    border: none;
    background: #fff;
    padding: 6px 16px;
    border-radius: 5px;
}
span.instructor {
    display: block;
    padding-top: 14px;
}

/* about css design  */
.about-area {
    padding:45px 0;
}
.single-about img {
    width: 55px;
    margin-bottom: 22px;
}
.single-about {
    padding: 10px;
    border:1px solid #E0E0E0;
    box-shadow: 9px 9px 15px #bdb7b7;
    transition:.5s;
    border-radius: 5px;
}
.single-about h3 {
    font-size: 15px;
}

.single-about p {
    font-size: 14px;
}
.single-about:hover {
    box-shadow: 15px 15px 22px #FDDDBE;
    border-color: #FDDDBE;
}

/* Best Selling Cources Css  */
.best-selling-area {
    padding: 50px 0;
}
.single-cource img {
    width:100%;
    height: 180px;
}
.single-cource h5 {
    font-size: 18px;
    color: #4F4F4F;
    padding-top: 10px;
}
.single-cource span {
    font-size: 15px;
    color: #4F4F4F;
}
.rating-price {
    display: flex;
    justify-content: space-between;
    color:#4F4F4F;
    padding-top:10px;
}
.cource-info {
    display: flex;
    justify-content: space-between;
    color: #4F4F4F;
}
.cource-info p {
    font-size: 13px;
}
button.border-btn {
    color: #F57C00;
    border: 1px solid #F57C00;
    background: #fff;
    padding: 5px 11px;
    border-radius: 5px;
}

button.box-btn {
    background: #F57C00;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
}
.cource-button {
    text-align: center;
    margin-top:35px;
}
.cource-button button {
    background: #F2F2F2;
    border: none;
    padding: 9px 25px;
    border-radius: 5px;
}


/* Online-Cource Area   */
.online-cource-area {
    padding: 40px 0;
}
.online-cource {
    background-color: #F2F2F2;
}
.online-cource-img img {
    width: 100%;
}
.online-cource-img {
    margin-top: -53px;
}
.online-couce-left {
    width: 72%;
    padding-left: 40px;
}